@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.title{
    font-family: 'Ubuntu', sans-serif;
}

input:read-only{
    cursor: not-allowed;
}

button:disabled{
    cursor: not-allowed;
}