@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    font-family: 'Ubuntu', sans-serif;
}

input:read-only{
    cursor: not-allowed;
}

button:disabled{
    cursor: not-allowed;
}

 .ant-modal-close{
    display: none !important;
}
.css-dev-only-do-not-override-gzal6t.ant-btn-default{
    display: none !important;
}
.css-dev-only-do-not-override-gzal6t.ant-btn-primary {
    display: none !important;
}

.ant-modal-title{
    font-size: 24px !important;
    font-weight: bold !important;
}